In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('dataset_group.csv')

In [3]:
df.head(10)

         Date  Order_id        Product
0  2018-01-01         1         yogurt
1  2018-01-01         1           pork
2  2018-01-01         1  sandwich bags
3  2018-01-01         1     lunch meat
4  2018-01-01         1   all- purpose
5  2018-01-01         1          flour
6  2018-01-01         1           soda
7  2018-01-01         1         butter
8  2018-01-01         1           beef
9  2018-01-01         1  aluminum foil

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20641 entries, 0 to 20640
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20641 non-null  object
 1   Order_id  20641 non-null  int64
 2   Product   20641 non-null  object
dtypes: int64(1), object(2)
memory usage: 483.9+ KB

In [5]:
df.shape

(20641, 3)

In [6]:
df.isnull().sum()

Date        0
Order_id    0
Product     0
dtype: int64

In [7]:
# no null values
# Date column needs to be changed to DateTime. The conversion is required for Data Vizualization and hence will be done in Tableau

In [8]:
df.Product.nunique()

37

In [9]:
df.Product.value_counts()

poultry                         640
soda                            597
cereals                         591
ice cream                       579
cheeses                         578
waffles                         575
soap                            574
bagels                          573
lunch meat                      573
juice                           570
eggs                            570
toilet paper                    569
dinner rolls                    567
aluminum foil                   566
coffee/tea                      565
shampoo                         562
beef                            561
paper towels                    556
flour                           555
butter                          555
milk                            555
mixes                           554
dishwashing liquid/detergent    551
all- purpose                    551
ketchup                         548
yogurt                          545
individual meals                544
tortillas                       543
pasta                           542
laundry detergent               542
spaghetti sauce                 536
sandwich bags                   536
sugar                           533
pork                            531
fruits                          529
sandwich loaves                 523
hand soap                       502
Name: Product, dtype: int64

In [10]:
# There are 37 unique items in the grocery store
# Poultry, soda, cereals, ice cream and cheeses are the top 5 selling items as of quantity sold

In [11]:
df.describe(include='O').T

         count unique         top freq
Date     20641    603  2019-02-08  183
Product  20641     37     poultry  640

In [12]:
# Checking the total no of orders
df.Order_id.nunique()

1139

In [13]:
df['Date'] = pd.to_datetime(df['Date'])
df.describe(include='all').T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
Date,20641,603,2019-02-08 00:00:00,183,2018-01-01,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Order_id,20641.0,NaN,NaN,NaN,NaT,NaT,575.986289,328.557078,1.0,292.0,581.0,862.0,1139.0
Product,20641,37,poultry,640,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# The records in the dataset are collected from Jan 1, 2018 to Feb 26, 2020

In [68]:
# Gives the list of unique products for each order_id and then getting the average
df[['Order_id','Product']].groupby(['Order_id']).nunique().mean()

Product    13.969271
dtype: float64

In [16]:
output = pd.read_excel("Final Project\Balaji_MP_Market_Basket_Analysis_Output.xlsx")
output.head()

,RowID,Support,Confidence,Lift,Recommended Product,implies,Basket
0,rule2790,0.030729,0.795455,2.193760,paper towels,<---,"[eggs, ice cream, pasta, lunch meat]"
1,rule6038,0.031607,0.782609,2.158332,paper towels,<---,"[eggs, ice cream, pasta, cereals]"
2,rule2791,0.030729,0.729167,2.065972,flour,<---,"[dishwashing liquid/detergent, cheeses, waffle..."
3,rule9828,0.032485,0.740000,2.040823,paper towels,<---,"[eggs, dinner rolls, ice cream, pasta]"
4,rule6043,0.031607,0.720000,1.985666,paper towels,<---,"[eggs, poultry, ice cream, pasta]"

In [19]:
output.sort_values(by=['Lift','Confidence'], ascending=False).head(10)

,RowID,Support,Confidence,Lift,Recommended Product,implies,Basket
0,rule2790,0.030729,0.795455,2.193760,paper towels,<---,"[eggs, ice cream, pasta, lunch meat]"
1,rule6038,0.031607,0.782609,2.158332,paper towels,<---,"[eggs, ice cream, pasta, cereals]"
2,rule2791,0.030729,0.729167,2.065972,flour,<---,"[dishwashing liquid/detergent, cheeses, waffle..."
3,rule9828,0.032485,0.740000,2.040823,paper towels,<---,"[eggs, dinner rolls, ice cream, pasta]"
4,rule6043,0.031607,0.720000,1.985666,paper towels,<---,"[eggs, poultry, ice cream, pasta]"
5,rule2787,0.030729,0.777778,1.951297,ice cream,<---,"[paper towels, eggs, pasta, lunch meat]"
6,rule2792,0.030729,0.760870,1.947484,soda,<---,"[dishwashing liquid/detergent, cheeses, flour,..."
7,rule14095,0.033363,0.716981,1.930595,pasta,<---,"[paper towels, dishwashing liquid/detergent, e..."
8,rule42417,0.040386,0.696970,1.922151,paper towels,<---,"[all- purpose, individual meals, toilet paper]"
9,rule2803,0.030729,0.714286,1.914286,spaghetti sauce,<---,"[dinner rolls, poultry, laundry detergent, juice]"

In [27]:
output.sort_values(by=['Lift','Confidence'], ascending=False).head(20)['Recommended Product'].value_counts()

paper towels       6
pasta              4
eggs               3
sandwich loaves    2
flour              1
ice cream          1
soda               1
spaghetti sauce    1
ketchup            1
Name: Recommended Product, dtype: int64

In [30]:
output.sort_values(by=['Lift','Confidence'], ascending=False)['Recommended Product'].value_counts().head(10)

poultry         3891
cheeses         2332
soda            2231
lunch meat      2219
yogurt          2134
dinner rolls    2006
eggs            1986
cereals         1966
waffles         1943
ice cream       1851
Name: Recommended Product, dtype: int64

In [69]:
output[['Basket']].value_counts()

Basket
[yogurt, cheeses, sandwich bags]                               17
[bagels, lunch meat, soda]                                     17
[cheeses, all- purpose, flour]                                 16
[dishwashing liquid/detergent, toilet paper, sandwich bags]    15
[sandwich loaves, juice, ketchup]                              15
                                                               ..
[hand soap, bagels, cereals]                                    1
[milk, toilet paper]                                            1
[spaghetti sauce, tortillas]                                    1
[poultry, sugar]                                                1
[soda, ketchup]                                                 1
Length: 8207, dtype: int64